*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
    margin
}


/* main text */
.main-text h2{
    margin-bottom: 20px;
}

.main-text p{
    line-height: 30px;
}

.card img{
    width: 100%;
}